/* 
========================
FOOTER
========================
*/
.footer{
    background: #363636;
    padding: 4.6rem 14rem 6.5rem;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 4rem;
    align-items: center;
}

.footer *{
    color: white;
}

.footer>*{
    max-width: 100%;
}

.footer__phone,
.footer__address{
    opacity: 0.7;
}

.footer .site-nav,
.footer .socials-list{
    justify-self: center;
}

.socials-list{
    display: flex;
    gap: 2rem;
}

.footer__user-nav,
.footer__html-logo,
.footer__phone{
    justify-self: end;
}

.footer__user-nav{
    grid-column: 2/ span 2;
}

.footer__user-nav .user-nav__btn::before{
    width: 1.1rem;
}
.footer__user-nav .user-nav__btn.login-btn::before{
    background-image: url("/assets/images/icons/icon_user--yellow.svg");
}
.footer__user-nav .user-nav__btn.compare-btn::before{
    background-image: url("/assets/images/icons/icon_chart--yellow.svg");
}
.footer__user-nav .user-nav__btn.cart-btn::before{
    background-image: url("/assets/images/icons/icon_cart--yellow.svg");
}