@font-face{
    font-family: Gilroy;
    src:    url("/assets/fonts/gilroylight.woff2") format('woff2'),
            url("/assets/fonts/gilroylight.woff") format('woff');
}
@font-face{
    font-family: Gilroy;
    src:    url("/assets/fonts/gilroyextrabold.woff2") format('woff2'),
            url("/assets/fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
}
@font-face{
    font-family: 'Open Sans';
    src:    url("/assets/fonts/opensanslight.woff2") format('woff2'),
            url("/assets/fonts/opensanslight.woff") format('woff');
    font-weight: 300;
}
@font-face{
    font-family: 'Open Sans';
    src:    url("/assets/fonts/opensans.woff2") format('woff2'),
            url("/assets/fonts/opensans.woff") format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.container{
    margin: 0 auto;
    width: 81vw;
}

.heading-primary{
    text-transform: uppercase;
    font-size: 4.7rem;
    line-height: 58px;
}

.heading-secondary{
    font-size: 4.7rem;
    line-height: 5rem;
}

.icon-text-btn{
    display: flex;
    gap: 1.1rem;
    align-items: center;
}

.icon-text-btn img{
    width: 1.6rem;
    height: 1.6rem;
}

.line{
    background-color: black;
    border: none;
    height: 0.7rem;
    width: 20%;
}

.line--white{
    background-color: white;
}
