/* 
ШКАЛА ШРИФТОВ
45.78px	/ 36.62px / 29.30px / 23.44px	/ 18.75pх / 15.00px / 12.00px / 9.60px / 7.68px

ЦВЕТА
основной: special-yellow rgb(247, 226, 150) #F7E296
    основной светлый оттенок: #F8E6A6
акцентный: special-yellow-dark #F0C52E
серый: basic-grey-light #E5E5E5
тёмный: basic-dark #363636
 */
 
 /* 
========================
ПОДКЛЮЧЕНИЕ ШРИФТОВ
========================
*/
@font-face{
    font-family: Gilroy;
    src:    url("/assets/fonts/gilroylight.woff2") format('woff2'),
            url("/assets/fonts/gilroylight.woff") format('woff');
}
@font-face{
    font-family: Gilroy;
    src:    url("/assets/fonts/gilroyextrabold.woff2") format('woff2'),
            url("/assets/fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
}
@font-face{
    font-family: 'Open Sans';
    src:    url("/assets/fonts/opensanslight.woff2") format('woff2'),
            url("/assets/fonts/opensanslight.woff") format('woff');
    font-weight: 300;
}
@font-face{
    font-family: 'Open Sans';
    src:    url("/assets/fonts/opensans.woff2") format('woff2'),
            url("/assets/fonts/opensans.woff") format('woff');
}
/* 
========================
ОБЩИЕ СТИЛИ СЕЛЕКТОРОВ
========================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    overflow-x: hidden;
}

main>section{
    margin-bottom: 10rem !important;
}

h1, h2, h3, h4{
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background: none;
}

button:focus,
button:target,
button:hover{
    outline: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* 
========================
СТИЛИ ЭЛЕМЕНТОВ
========================
*/
.container{
    margin: 0 auto;
    width: 85vw;
}

.pop-up{
    display: none;
}

.pop-up.pop-up--active{
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: 2rem;
    width: 66vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.x-btn{
    align-self: flex-end;
}

input,
textarea{
    background-color: transparent;
    padding: 1.6rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

textarea{
    max-height: 30rem;
}

.form__item .form__label{
    margin-bottom: 1rem;
}
/* .heading-primary{
    text-transform: uppercase;
    font-size: 4.7rem;
    line-height: 58px;
} */

.heading-secondary{
    font-size: 4.7rem;
    line-height: 5.8rem;
}

.strong{
    font-size: 1.8rem;
    font-weight: 800;
    font-family: Gilroy, sans-serif;
    line-height: 2.2rem;
    letter-spacing: 0.05em;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list li{
    display: flex;
    gap: 2.4rem;
}

/* горизонтальная линия-выделитель */
.line{
    background-color: black;
    border: none;
    height: 0.7rem;
    width: 20%;
}

.line--white{
    background-color: white;
}

.line--yellow{
    background-color: #F0C52E;
}

/* КНОПКИ */
.fade-out-btn{
    transition: all 0.5s;
}

.fade-out-btn:hover,
.fade-out-btn:target{
    opacity: 0.6;
}

.fade-out-btn:active{
    opacity: 0.3;
}

.fade-in-btn{
    opacity: 0.7;
    transition: all 0.5s;
}

.fade-in-btn:hover,
.fade-in-btn:target{
    opacity: 1;
}

.fade-in-btn:active{
    opacity: 0.3;
}

.icon-text-btn,
.text-icon-btn{
    display: flex;
    gap: 1.1rem;
    align-items: center;
}

.icon-text-btn::before,
.text-icon-btn::after{
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background-repeat: no-repeat;

}

.line-through-btn{
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;

    width: fit-content;
    padding: 0 4.2rem;
    margin: 3rem 0;
    position: relative;
    isolation: isolate;
}

.line-through-btn::before{
    content: "";
    display: block;
    width: 100%;
    height: 0.7rem;
    background-color: #F0C52E;
    z-index: -1;
    transition: all 0.5s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-through-btn:hover::before{
    height: 100%;
}

.line-through-btn:active{
    color: rgba(0, 0, 0, 0.3);
}

/* .line-through-btn:hover::before,
.line-through-btn:active::before{
    height: 0.5rem;
    top: -30%;
}

.line-through-btn:hover::after,
.line-through-btn:active::after{
    height: 0.5rem;
    top: 130%;
} */

/* подчёркивание (нижнее и верхнее) при наведении */
/* .active-underline{
    position: relative;
    isolation: isolate;
    width: fit-content;
}

.active-underline::before,
.active-underline.underline--tb::before{
    content: "";
    display: block;
    width: 100%;
    height: 0rem;
    background-color: #F0C52E;
    z-index: -1;
    transition: all 0.2s;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .active-underline::before{
    bottom: 0;
}
.active-underline.underline--tb::before{
    top: 0;
}

.active-underline:hover::before,
.active-underline:active::before,
.active-underline:focus::before,
.active-underline.underline--tb:hover::before,
.active-underline.underline--tb:active::before,
.active-underline.underline--tb:focus::before{
    height: 0.5rem;
} */

/* ЭЛЕМЕНТЫ С HOVER */
.form__field{
    transition: all 0.5s;
    background-color: #F2F2F2;
    color: rgba(0, 0, 0, 0.4);
}

.form__field:hover{
    background-color: #EAEAEA;
}

.form__field:focus{
    background-color: white;
    outline: solid 1px #F0C52E;
}

.form__field:focus::placeholder{
    color: rgba(0, 0, 0, 1);
}

.form__field.field--error{
    background-color: #F6DADA;
    outline: none;
}

/* 
========================
HEADER
========================
*/
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;
    padding: 4.4rem 6rem;
    
    z-index: 0;
}

.header-pd{
    padding: 4.4rem 6rem;
}

.header::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #F7E296 85%, transparent 85%);
    z-index: -1;
}

.header>*{
    max-width: 100%;
}

.header .logo{
    grid-column: 1 / -1;
}

.search-bar-wrapper{
    display: flex;
    align-items: baseline;
    height: min-content;
}

.search-bar-wrapper *{
    transition: all 0.5s;
}

.search-bar{
    font-size: 1.5rem;
    line-height: 2rem;
    background-image: url("/assets/images/icons/icon_search.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 3rem;
}

.search-bar-wrapper .search-btn{
    opacity: 0;
    pointer-events: none;

    border: 3px solid black;
    text-transform: uppercase;
    line-height: 2rem;
    padding: 1.5rem 1.7rem;
    min-height: 100%;
}

.search-bar::placeholder{
    color: rgba(0, 0, 0, 0.3);
}
 
.search-bar-wrapper:hover .search-bar::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.search-bar:focus .search-bar::placeholder{
    color: rgba(0, 0, 0, 1);
}

.search-bar:focus{
    border-bottom: 3px solid black;
    outline: none;
}

.search-bar:focus~.search-btn{
    opacity: 1;
    pointer-events: all;
}

.search-btn:hover{
    color: white;
    background: black;
}

.search-btn:active{
    color: rgba(255, 255, 255, 0.3);
}

.header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 100%; */
    /* justify-content: center; */
}

.user-nav{
    gap: 4.1rem;
}

.user-nav a{
    transition: all 0.2s;
    width: fit-content;
    position: relative;
    z-index: 0;
}

.header .icon-text-btn.login-btn::before{
    background-image: url("/assets/images/icons/icon_user.svg");
}
.header .icon-text-btn.compare-btn::before{
    background-image: url("/assets/images/icons/icon_chart.svg");
}
.header .icon-text-btn.cart-btn::before{
    background-image: url("/assets/images/icons/icon_cart.svg");
}

.header .plus-btn{
    white-space: nowrap;
}

.header .plus-btn{
    background: url("/assets/images/icons/icon_plus.svg") right no-repeat;
    width: fit-content;
    padding-right: 3rem;
}

/* .user-nav a:hover{
    font-weight: 800;
}

.user-nav a:hover::before{
    content: "";
    display: block;
    border-radius: 20px;
    width: calc(100% + 5rem);
    height: 100%;
    z-index: -1;
    background: #F0C52E;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} */

.site-nav{
    gap: 3.8rem;
}
.user-nav a:not(:first-child){
    justify-self: end;
}

.site-nav .site-nav--link:last-child{
    justify-self: end;
}

.site-nav--link{
    font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 0.2em;
    padding: 1rem 0;
}

.categories-nav{
    opacity: 0;
    display: hidden;
    pointer-events: none;

    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 2rem;
    background: #F7E296;
}

.header.categories--active{
    z-index: 10;
}

.header.categories--active .categories-nav{
    opacity: 1;
    display: visible;
    pointer-events: all;
    z-index: 10;
}

.category-link:last-child{
    grid-column: 3 / span 1;
}

.btn-mobile-nav{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    justify-self: right;
}

.icon-mobile-nav{
    width: 4.8rem;
    height: 4.8rem;
    color: black;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}


/* 
========================
FOOTER
========================
*/
.footer{
    background: #363636;
    padding: 4.6rem 14rem 6.5rem;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 4rem;
    align-items: center;
}

.footer *{
    color: white;
}

.footer>*{
    max-width: 100%;
}


.footer__phone,
.footer__address{
    opacity: 0.7;
}

.footer .site-nav,
.footer .socials-list{
    justify-self: center;
}

.footer .site-nav{
    display: flex;
    /* gap: 3.6rem; */
}

.footer .socials-list{
    display: flex;
    gap: 2rem;
}

.footer .user-nav,
.footer .html-logo,
.footer .footer__phone{
    justify-self: end;
}

.footer .user-nav{
    grid-column: 2/ span 2;
    display: flex;
    /* gap: 3.8rem; */
}

.footer .user-nav a{
    fill: #F0C52E;
}

.footer .icon-text-btn::before{
    width: 1.1rem;
}
.footer .icon-text-btn.login-btn::before{
    background-image: url("/assets/images/icons/icon_user--yellow.svg");
}
.footer .icon-text-btn.compare-btn::before{
    background-image: url("/assets/images/icons/icon_chart--yellow.svg");
}
.footer .icon-text-btn.cart-btn::before{
    background-image: url("/assets/images/icons/icon_cart--yellow.svg");
}x
