/* 
========================
HEADER
========================
*/
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    background: linear-gradient(to top, rgb(247, 226, 150) 85%, transparent 85%);
    padding: 4.4rem 6rem;
    z-index: -1;
}

.header .logo{
    grid-column: 1 / -1;
}

.search-bar-container{
    min-width: 80%;
}

.search-bar{
    border: none;
    background: none;
    font-size: 1.5rem;
    line-height: 2;
    opacity: 0.3;
    margin-bottom: 1rem;
    z-index: -3;

    width: 100%;
}

.search-bar:hover,
.search-bar:focus{
    outline: none;
    opacity: 1;
    background: #F8E6A6;
    box-shadow: 0 0 8px 1px #f8e6a6;
}

.header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-nav{
    gap: 4.1rem;
}

.user-nav a{
    transition: all 0.2s;
    width: fit-content;
    position: relative;
    z-index: 0;
}
.user-nav a:hover{
    font-weight: 800;
}

.user-nav a:hover::before{
    content: "";
    display: block;
    border-radius: 20px;
    width: calc(100% + 5rem);
    height: 100%;
    z-index: -1;
    background: #F0C52E;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.site-nav{
    gap: 3.8rem;
}
.user-nav a:not(:first-child){
    justify-self: end;
}

.site-nav .site-nav--link:last-child{
    justify-self: end;
}

.site-nav--link{
    font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 0.2em;
    padding: 1rem 0;
}

.categories{
    opacity: 0;
    display: hidden;
    pointer-events: none;

    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 2rem;
}

.categories--active{
    opacity: 1;
    display: visible;
    pointer-events: all;
}

.category:last-child{
    grid-column: 3 / span 1;
}

/* 
========================
PRODUCTS
========================
*/
.product{
    display: none;
}

.product--active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 4.4rem;
    row-gap: 3rem;

    position: relative;
    top: -15rem;
    padding: 1.1rem 4.4rem 0 3rem;
}

.product-header{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.product-header hr{
    margin-top: 3rem;
}

.product-num{
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-size: 17.9rem;
    font-weight: 800;
}

.product-image{
    grid-row: 1 / -1;
    align-self: center;
}

.product h2{
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    margin-top: 11rem;
}

.product-description{
    line-height: 2rem;
    max-width: 55ch;
}

.product-btn{
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    width: fit-content;
    padding: 0 4.2rem;
    margin: 3rem 0;
    position: relative;
}

.product-btn::before,
.product-btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.7rem;
    background-color: #F0C52E;
    z-index: -1;
    transition: all 0.5s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-btn:hover::before,
.product-btn:active::before{
    height: 0.5rem;
    top: -30%;
}

.product-btn:hover::after,
.product-btn:active::after{
    height: 0.5rem;
    top: 130%;
}

.product-features{
    display: flex;
    gap: 6.4rem;
    font-family: Gilroy;
    letter-spacing: 0.1em;
}

.feature-number{
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
}

.feature-text{
    font-size: 1.3rem;
}
