/* 
ШКАЛА ШРИФТОВ
45.78px	/ 36.62px / 29.30px / 23.44px	/ 18.75pх / 15.00px / 12.00px / 9.60px / 7.68px

ЦВЕТА
основной: special-yellow rgb(247, 226, 150) #F7E296
    основной светлый оттенок: #F8E6A6
акцентный: special-yellow-dark #F0C52E
серый: basic-grey-light #E5E5E5
тёмный: basic-dark #363636
 */

/*
========================
PRODUCTS
========================
*/

.section-products *{
    margin-bottom: 0;
} 

.product{
    display: none;
}

.product--active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 4.4rem;
    row-gap: 3rem;

    position: relative;
    top: -15rem;
    padding: 1.1rem 4.4rem 0 3rem;
}

.product-header{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.product-header hr{
    margin-top: 3rem;
}

.product-num{
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-size: 17.9rem;
    font-weight: 800;
}

.product-image{
    grid-row: 1 / -1;
    align-self: center;
}

.product h2{
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    padding-top: 11rem;
}

.product-description{
    line-height: 2rem;
    max-width: 55ch;
}

.product-features{
    display: flex;
    gap: 6.4rem;
    font-family: Gilroy;
    letter-spacing: 0.1em;
}

.feature-number{
    font-size: 3.6rem;
    white-space: nowrap;
    margin-bottom: 1.5rem;
}

.feature-text{
    font-size: 1.3rem;
    white-space: nowrap;
}

/* 
========================
POPULAR
========================
*/
.section-popular{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
    justify-items: center;
    width: fit-content;
}   

.popular__item *{
    transition: all 0.5s;
}

.popular__item{
    width: 16rem;
}

.popular__item:hover .popular__img-wrapper,
.popular__item:target .popular__img-wrapper{
    background-color: #F0C52E;
}

.popular__item:active .popular__img-wrapper{
    background-color: #F0C52E;
}
.popular__item:active .popular__img-wrapper img,
.popular__item:active h4.strong{
    opacity: 0.3;
}

.popular__img-wrapper{
    height: 16rem;
    background-color: #F7E296;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

/* 
========================
SERVICES
========================
*/
.section-services{
    background: linear-gradient(to top, #E5E5E5 67%, transparent 67%);
}

.services-list,
.services{
    padding: 7rem 0;
}

.services-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    gap: 11.6rem;
}

.services-list{
    border-right: solid 0.8rem black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20vw;
}

.services-btn{
    display: block;
    width: 100%;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    isolation: isolate;
    z-index: 0;
    position: relative;
}

.services-btn p{
    width: min-content;
    padding: 1rem;
    background: linear-gradient(transparent 42.5%, #F0C52E 42.5%, #F0C52E 57.5%, transparent 57.5%);
}

.services-btn:not(.services-btn--active)::before{
    position: absolute;
    visibility: hidden;
    content: "";
    background: #F0C52E;
    width: 0.3rem;
    height: 13%;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: -1;
}
.services-btn:not(.services-btn--active):hover::before{
    visibility: visible;
    height: 2.2rem;
    width: 100%;
    transform: translate(0%, -50%);
}

.services-btn:active,
.services-btn--active{
    background: black;
    width: 100%;
    color: #F7E296;
    text-align: left;
}

.services-btn:active p,
.services-btn--active p,
.services-btn:active::before{
    background: none;
}

.services{
    width: 100%;
}

.service{
    display: none;
}

.service--active{
    display: block;
    width: 100%;
}

.service--active h2{
    padding-bottom: 4rem;
}

.service{
    background-repeat: no-repeat;
    background-position: right;
}

.service--delivery{
    background-image: url("/assets/images/services/delivery.svg");
}

.service--warranty{
    background-image: url("/assets/images/services/warranty.svg");
}

.service--credit{
    background-image: url("/assets/images/services/credit.svg");
}

.service-img{
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

.service-description{
    max-width: 50ch;
    line-height: 3rem;
}

/* 
========================
ABOUT US + CONTACTS
========================
*/
.logos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.logo-wrapper>img{
    max-width: 100%;
}

.logo-wrapper>img{
    transition: all 0.5s;
    filter: saturate(0);
    opacity: 0.15;
}

.logo-wrapper>img:hover{
    filter: saturate(1);
    opacity: 1;
}

/* 
========================
ABOUT US + CONTACTS
========================
*/
.section-about-us{
    display: flex;
    gap: 12.7rem;
    position: relative;
}
 
.about-us__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    line-height: 2.8rem;
}

.about-us__column h2{
    margin: 1rem 0;
}

.about-us__list{
    margin: 2rem 0;
}
.about-us__list li{
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
}

.form-pop-up{
    background-color: white;
    box-shadow: 0px 1rem 1.6rem rgba(0, 0, 0, 0.15);
}

.contact-us__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3.2rem;

    margin: 0 8rem;
}

.contact-us__form .form_textarea{
    grid-column: span 2;
}

