/* 
ШКАЛА ШРИФТОВ
45.78px	/ 36.62px / 29.30px / 23.44px	/ 18.75pх / 15.00px / 12.00px / 9.60px / 7.68px

ЦВЕТА
основной: special-yellow rgb(247, 226, 150) #F7E296
    основной светлый оттенок: #F8E6A6
акцентный: special-yellow-dark #F0C52E
серый: basic-grey-light #E5E5E5
тёмный: basic-dark #363636
 */



/* 
========================
POPULAR
========================
*/
.section-popular{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
    justify-items: center;
    width: fit-content;
}  

/* 
========================
SERVICES
========================
*/
.section-services{
    background: linear-gradient(to top, #E5E5E5 67%, transparent 67%);
}

.services-list,
.services{
    padding: 7rem 0;
}

.service{

}

.service--delivery{
    background-image: url("/assets/images/services/delivery.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.service--warranty{
    background-image: url("/assets/images/services/warranty.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.service--credit{
    background-image: url("/assets/images/services/credit.svg");
        background-repeat: no-repeat;
    background-position: right;
}

/* 
========================
ABOUT US + CONTACTS
========================
*/
.logos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.logo-wrapper>img{
    max-width: 100%;
}

.logo-wrapper>img{
    transition: all 0.5s;
    filter: saturate(0);
    opacity: 0.15;
}

.logo-wrapper>img:hover{
    filter: saturate(1);
    opacity: 1;
}

/* 
========================
ABOUT US + CONTACTS
========================
*/
.section-about-us{
    display: flex;
    gap: 12.7rem;
    position: relative;
}
 
.form-pop-up{
    background-color: white;
    box-shadow: 0px 1rem 1.6rem rgba(0, 0, 0, 0.15);
}

.contact-us__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 3.2rem;

    margin: 0 8rem;
}

.contact-us__form .form_textarea{
    grid-column: span 2;
}

