@media (max-width: 1000px){
    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1100px){
    /* POPULAR */
    .section-popular{
        grid-template-columns: repeat(3, 1fr);
    }

    .popular__img-wrapper{
        margin: 0 auto;
        height: 16rem;
        width: 100%;
    }
}

@media (max-width: 800px){
    .container{
        width: 90vw;
    }

    .line-through-btn{
        font-size: 2.4rem;
        line-height: 2;
        padding: 0 2rem;
    }

    .header{
        row-gap: 1.8rem;
        padding: 2rem 6rem;
    }

    .header .user-nav,
    .header .site-nav{
        display: none;
        grid-template-columns: 1fr;
    }

    .header .search-bar-wrapper{
        grid-column: 1/ -1;
        width: 80%;
    }
    
    .header .btn-mobile-nav{
        display: block;
        grid-column: 2;
        grid-row: 1;
    }

    /* PRODUCT */
    .product{
        padding: 0;
        column-gap: 0;
    }
    .product--active{
        grid-template-columns: 1fr;
        justify-items: center;

    }
    .product--active>*{
        grid-column: 1;
    }

    .product-features{
        grid-row: 5 / span 1;
    }

    .product-header,
    .product .heading-secondary{
        grid-column: 1;
    }

    .product-header{
        justify-self: right;
    }

    .product .heading-secondary{
        line-height: 1.1;
        /* justify-self: left; */
    }

    .product-image {
        grid-row: 2 / -1;
        grid-column: 1;
    }

    .product-features{
        gap: 2rem;
        justify-content: center;
    }
    
    .product-feature{
        width: 100%;
    }

    .product-feature .feature-number{
        font-size: 3.6rem;
    }

    .product-feature .feature-text{
        font-size: 1.9rem;
    }

    .product-description{
        font-size: 2.3rem;
        line-height: 1.5;
        text-align: center;
        max-width: 50ch;
    }

    /* SERVICES */
    /* .section-services{
        width: 100vw;
    } */

    .services-wrapper{
        gap: 5rem;
        width: 100vw;
    }
    
    .services-btn {
        margin-right: 5rem;
    }

    .services{
        padding: 0 2rem ;
    }
    .service-description{
        width: 60%;
    }

    /* LOGOS */
    .logos{
        width: 100vw;
    }

    /* ABOUT US */
    .section-about-us{
        flex-direction: column;

    }

    .about-us__column{
        text-align: center;
        align-items: center;
    }

    .about-us__text{
        max-width: 50ch;
    }

    /* FOOTER */
    .footer{
        row-gap: 2rem;
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .footer .user-nav,
    .footer .site-nav{
        grid-column: 2;
    }

    .footer .user-nav{
        grid-row: 2;
        justify-self: center;
    }

    .footer .site-nav{
        grid-row: 3;
    }

    .footer .footer__phone,
    .footer .footer__address{
        grid-row: 4 / span 2;
        justify-self: left;
    }

    .footer .footer__address{
        grid-column: 3;
        text-align: right;
    }

    .footer .socials-list{
        grid-row: 4;
        grid-column: 2;
    }

    .footer .html-logo{
        grid-column: 3;
    }

    .footer .line{
        grid-row: 6;
        grid-column: 2;
        justify-self: center;
    }

}

@media (max-width: 550px){

    .section-popular{
        grid-template-columns: 1fr 1fr;
    }

    /* SERVICES */
    .services-wrapper{
        grid-template-columns: 1fr;
        align-items: end;
    }

    .service{
        /* background: none; */
    }

    .service--active h2{
        padding-bottom: 2rem;
    }

    .services-list{
        grid-row: 2;
        flex-direction: row;
        border: none;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding: 0;
        width: 100%;
    }

    .services-btn{
        margin-right: 0vh;
        min-width: 0;
    }

    .services-btn:active, 
    .services-btn--active {
        width: auto;
        padding: 0 2rem;
    }

    /* LOGOS */
    .logos-container{
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    .footer .user-nav,
    .footer .site-nav{
        display: none;
    }

}