@media (max-width: 1150px){
    .header{
        background: linear-gradient(to top, #F7E296 90%, transparent 90%);
    }
    /* POPULAR */
    .section-popular{
        grid-template-columns: repeat(3, 1fr);
    }

    .category-card__icon-wrapper{
        height: 16rem;
        width: 100%;
    }

    .category-card__title{
        padding-top: 1rem;
    }

    .side-slideshow{
        gap: 5rem;
        width: 100vw;
    }
    
    .pop-up.pop-up--active {
        width: 90vw;
    }

    .section-about-us .map-pop-up.pop-up--active{
        top: 80%;
    }

    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 940px){
    .container{
        width: 90vw;
    }

    .text-card__title{
        font-size: 6.5rem;
        letter-spacing: 0.2rem;
    }

    .strong{
        font-size: 2.3rem;
    }

    .text-card__text:not( .text-card__text--left){
        font-size: 1.8rem;
        line-height: 1.5;
        margin: auto;
        text-align: center;
        max-width: 50ch;
    }

    .line-through-btn{
        font-size: 2.4rem;
        line-height: 2;
        padding: 0 2rem;
    }

    /* HEADER */
    .header{
        row-gap: 1.8rem;
        padding: 2rem 6rem;
        grid-template-columns: 4fr 1fr;
    }

    .header__user-nav,
    .header__site-nav{
        display: none;
        grid-template-columns: 1fr;
    }

    .header__search-bar{
        grid-column: 1/ span 1;
        width: 100%;
    }
    
    .btn-mobile-nav{
        display: block;
        grid-column: 2;
        grid-row: 2;
    }

    .header .plus-btn{
        grid-column: span 2;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .search-bar__btn{
        display: none;
    }

    .header.nav--active{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        background: rgba(255, 255, 255, 1);
        z-index: 30;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header.nav--active>*,
    .header.nav--active .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }

    .header.nav--active .btn-mobile-nav,
    .header.nav--active .icon-mobile-nav[name="close-outline"]{
        display: block;
    }

    .header.nav--active .user-nav,
    .header.nav--active .site-nav{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: end;
        padding-right: 5rem;
    }

    .header.nav--active .user-nav{
        border-bottom: 2px solid black;
        margin-bottom: 4rem;
        padding-bottom: 6rem;
        width: 40%;

        font-family: "Gilroy", sans-serif;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    /* PRODUCT */
    .product-slide{
        padding: 0;
        column-gap: 0;
        grid-template-columns: 1fr;
        justify-items: center;

    }
    .product-slide>*{
        grid-column: 1;
    }

    .product-slide__features{
        grid-row: 5 / span 1;
    }

    .product-slide__header,
    .product-slide__text-card{
        grid-column: 1;
    }

    .product-slide__header{
        justify-self: right;
    }

    .product-slide__text-card .text-card__title{
        line-height: 1.1;
        justify-self: left;
        padding-left: 2rem;
    }


    .product-slide__img {
        grid-row: 2 / -1;
        grid-column: 1;
    }

    .features{
        gap: 2rem;
        justify-content: center;
    }
    
    .features__feature{
        width: 100%;
    }

    .features__feature__text{
        font-size: 1.9rem;
    }

    /* POPULAR */
    .category-card__title{
        font-size: 1.6rem;
    }

    /* SERVICES */
    .side-slideshow{
        gap: 0;
        width: 100vw;
    }

    .side-menu{
        min-width: 35vw;
    }

    .slideshow{
        padding: 0 2rem;
    }
    .slideshow__slide.text-card .text-card__text{
        width: 60%;
        text-align: left;
        font-size: 1.8rem;
    }

    /* LOGOS */
    .logos{
        width: 100vw;
    }

    /* ABOUT US */
    .section-about-us{
        flex-direction: column;
    }

    .info-card{
        text-align: center;
        align-items: center;
    }

    .contact-us__form{
        grid-template-columns: 1fr;
    }

    .contact-us__form>*{
        grid-column: 1;
    }

    /* FOOTER */
    .footer{
        row-gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer__user-nav,
    .footer__site-nav{
        grid-column: 1 / -1;
        justify-self: center;
        justify-items: center;
    }

    .footer__user-nav{
        grid-row: 2;
    }

    .footer__site-nav{
        grid-row: 3;
    }

    .footer__phone,
    .footer__address{
        grid-row: 4 / span 2;
        justify-self: left;
        grid-column: span 2;
    }

    .footer__phone{
        justify-self: right;
        text-align: right;
    }

    .footer__socials-list{
        grid-row: 4;
        grid-column: 3;
    }

    .footer__html-logo{
        grid-column: -1;
    }

    .footer .line{
        grid-row: 6;
        grid-column: 3;
        justify-self: center;
    }

}

@media (max-width: 580px){

    .logo{
        transform: scale(0.7) translateX(-20%);
    }

    .line-through-btn{
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        white-space: normal;
    }

    .strong{
        font-size: 1.5rem;
    }

    .heading-secondary{
        font-size: 3.6rem;
    }

    .header{
        padding: 0 1rem;
        column-gap: 0;
        background: linear-gradient(to top, #F7E296 95%, transparent 95%);
        padding-bottom: 10rem;

    }

    .header .categories-nav{
        display: none;
    }

    .header.categories--active .categories-nav{
        grid-template-columns: 1fr;
    }

    .header .categories-nav .categories-nav__btn{
        grid-column: 1;
    }

    /* PRODUCT */
    .product-slide{
        background: linear-gradient( #F7E296 10%, transparent 10%);

    }
    .product-slde__header .product-num{
        font-size: 9.4rem;
    }

    .product-slide__text-card{
        padding-top: 3rem;
    }

    .product-slide__text-card .text-card__title{
        font-size: 2.9rem;
        padding: 0;
    }
    
    .features__feature__number{
        font-size: 2.4rem;
    }

    .features__feature__text{
        white-space: normal;
        font-size: 1.5rem;
    }

    /* POPULAR */
    .section-popular{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .category-card{
        word-wrap: break-word;
    }

    /* SERVICES */
    .side-slideshow{
        grid-template-columns: 1fr;
        align-items: end;
        justify-content: center;
        text-align: center;
        row-gap: 5rem;

        background: linear-gradient(transparent 10%, #E5E5E5 10%);
    }

    .service{
        background: none;
    }

    .service--delivery,
    .service--warranty,
    .service--credit{
        background-image: none;
    }

    /* .service--active h2{
        padding-bottom: 0;
    } */

    /* .service-description{
        width: 100%;
    } */

    .side-menu{
        grid-row: 2;
        flex-direction: row;
        border: none;
        justify-content: space-evenly;

        padding: 0;
        width: 100vw;
        background: linear-gradient( #E5E5E5 30%, white 30%);
    }

    .side-menu__btn{
        display: flex;
        justify-content: center;
        margin-right: 0vh;
        min-width: 0;
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .side-menu__btn:active, 
    .side-menu__btn--active {
        padding: 0 2rem;
    }

    /* LOGOS */
    .logos-container{
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    .footer{
        grid-template-columns: 4fr 1fr;
    }

    .footer__user-nav,
    .footer__site-nav{
        display: none;
    }

    .footer__socials-list{
        grid-row: 4;
        grid-column: 1 / span 1;
        justify-self: left;
    }

    .footer__address,
    .footer__phone{
        font-size: 1.5rem;
        grid-column: 1;
    }

    .footer__phone{
        grid-row: 2;
        justify-self: left;
    }

    .footer__address{
        grid-row: 3;
    }

    .footer__html-logo{
        grid-column: 2;
    }

}

@media (max-width: 400px){
    .category-card__icon-wrapper{
        height: 11rem;
    }

    .category-card{
        width: 11rem;
    }
    
    .category-card__icon{
        transform: scale(0.7);
    }

}