@media (max-width: 1100px){
    .header{
        background: linear-gradient(to top, #F7E296 90%, transparent 90%);
    }
    /* POPULAR */
    .section-popular{
        grid-template-columns: repeat(3, 1fr);
    }

    .popular__img-wrapper{
        margin: 0 auto;
        height: 16rem;
        width: 100%;
    }

    .services-wrapper{
        gap: 5rem;
        width: 100vw;
    }
    
    .pop-up.pop-up--active {
        width: 90vw;
    }

    .section-about-us .map-pop-up.pop-up--active{
        top: 80%;
    }

    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 940px){
    .container{
        width: 90vw;
    }

    .heading-secondary{
        font-size: 6.5rem;
        letter-spacing: 0.2rem;
    }

    .strong{
        font-size: 2.3rem;
    }

    .product-description,
    .service-description,
    .about-us__text{
        font-size: 1.8rem;
    }

    .line-through-btn{
        font-size: 2.4rem;
        line-height: 2;
        padding: 0 2rem;
    }

    /* HEADER */
    .header{
        row-gap: 1.8rem;
        padding: 2rem 6rem;
        grid-template-columns: 4fr 1fr;
    }

    .header .user-nav,
    .header .site-nav{
        display: none;
        grid-template-columns: 1fr;
    }

    .header .search-bar-wrapper{
        grid-column: 1/ span 1;
        width: 100%;
    }
    
    .header .btn-mobile-nav{
        display: block;
        grid-column: 2;
        grid-row: 2;
    }

    .header .plus-btn{
        grid-column: span 2;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .header .search-btn{
        display: none;
    }

    .search-bar-wrapper{
        width: 100%;
    }

    .header.nav--active{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        background: rgba(255, 255, 255, 1);
        z-index: 30;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header.nav--active>*,
    .header.nav--active .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }

    .header.nav--active .btn-mobile-nav,
    .header.nav--active .icon-mobile-nav[name="close-outline"]{
        display: block;
    }

    .header.nav--active .user-nav,
    .header.nav--active .site-nav{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: end;
        margin-right: 5rem;
    }

    .header.nav--active .user-nav{
        border-bottom: 2px solid black;
        margin-bottom: 4rem;
        padding-bottom: 6rem;
        width: 40%;

        font-family: "Gilroy", sans-serif;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    /* PRODUCT */
    .product{
        padding: 0;
        column-gap: 0;
    }
    .product--active{
        grid-template-columns: 1fr;
        justify-items: center;

    }
    .product--active>*{
        grid-column: 1;
    }

    .product-features{
        grid-row: 5 / span 1;
    }

    .product-header,
    .product .heading-secondary{
        grid-column: 1;
    }

    .product-header{
        justify-self: right;
    }

    .product .heading-secondary{
        line-height: 1.1;
        justify-self: left;
        padding-left: 2rem;
    }

    .product-image {
        grid-row: 2 / -1;
        grid-column: 1;
    }

    .product-features{
        gap: 2rem;
        justify-content: center;
    }
    
    .product-feature{
        width: 100%;
    }

    .product-feature .feature-text{
        font-size: 1.9rem;
    }

    .product-description{
        line-height: 1.5;
        text-align: center;
        max-width: 50ch;
    }

    /* POPULAR */

    .popular__item .strong{
        font-size: 1.6rem;
    }
    /* SERVICES */
    .services-wrapper{
        gap: 0;
        width: 100vw;
    }

    .services-list{
        min-width: 35vw;
    }

    .services{
        padding: 0 2rem;
    }
    .service-description{
        width: 60%;
        font-size: 1.8rem;
    }

    /* LOGOS */
    .logos{
        width: 100vw;
    }

    /* ABOUT US */
    .section-about-us{
        flex-direction: column;

    }

    .about-us__column{
        text-align: center;
        align-items: center;
    }

    .about-us__text{
        max-width: 50ch;
    }

    .contact-us__form{
        grid-template-columns: 1fr;
    }

    .contact-us__form>*{
        grid-column: 1;
    }

    /* FOOTER */
    .footer{
        row-gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
    }

    .footer .user-nav,
    .footer .site-nav{
        grid-column: 1 / -1;
        justify-self: center;
        justify-items: center;
    }

    .footer .user-nav{
        grid-row: 2;
    }

    .footer .site-nav{
        grid-row: 3;
    }

    .footer .footer__phone,
    .footer .footer__address{
        grid-row: 4 / span 2;
        justify-self: left;
        grid-column: span 2;
    }

    .footer .footer__phone{
        justify-self: right;
        text-align: right;
    }

    .footer .socials-list{
        grid-row: 4;
        grid-column: 3;
    }

    .footer .html-logo{
        grid-column: -1;
    }

    .footer .line{
        grid-row: 6;
        grid-column: 3;
        justify-self: center;
    }

}

@media (max-width: 580px){

    .logo{
        transform: scale(0.7) translateX(-20%);
    }

    .line-through-btn{
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        white-space: normal;
    }

    .strong{
        font-size: 1.5rem;
    }

    .heading-secondary{
        font-size: 3.6rem;
    }

    .header{
        padding: 0 1rem;
        column-gap: 0;
        background: linear-gradient(to top, #F7E296 95%, transparent 95%);
        padding-bottom: 10rem;

    }

    .header .categories-nav{
        display: none;
    }

    .header.categories--active .categories-nav{
        grid-template-columns: 1fr;
    }

    .header .categories-nav .category-link{
        grid-column: 1;
    }

    /* PRODUCT */

    .product--active{
        top: -8rem;
    }
    .product-header .product-num{
        font-size: 9.4rem;
    }

    .product .heading-secondary{
        font-size: 2.9rem;
        padding: 0;
        margin-top: 5rem;
    }
    
    .product-feature .feature-number{
        font-size: 2.4rem;
    }

    .product .feature-text{
        white-space: normal;
        font-size: 1.5rem;

    }

    /* POPULAR */
    .section-popular{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .popular__item{
        width: 11rem;
        word-wrap: break-word;
    }

    .popular__img-wrapper{
        height: 11rem;
    }

    .popular__img-wrapper img{
        transform: scale(0.7);
    }

    /* SERVICES */
    .services-wrapper{
        grid-template-columns: 1fr;
        align-items: end;
        justify-content: center;
        text-align: center;
        row-gap: 5rem;

        background: linear-gradient(transparent 10%, #E5E5E5 10%);
    }

    .service{
        background: none;
    }

    .service--active h2{
        padding-bottom: 0;
    }

    .service-description{
        width: 100%;
    }

    .services-list{
        grid-row: 2;
        flex-direction: row;
        border: none;
        justify-content: space-evenly;
        /* flex-wrap: wrap; */

        padding: 0;
        width: 100vw;
        background: linear-gradient( #E5E5E5 30%, white 30%);
    }

    .services-btn{
        display: flex;
        justify-content: center;
        margin-right: 0vh;
        min-width: 0;
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .services-btn:active, 
    .services-btn--active {
        padding: 0 2rem;
    }

    /* LOGOS */
    .logos-container{
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    .footer{
        grid-template-columns: 4fr 1fr;
    }

    .footer .user-nav,
    .footer .site-nav{
        display: none;
    }

    .footer .socials-list{
        grid-row: 4;
        grid-column: 1 / span 1;
        /* flex-direction: column; */
        justify-self: left;
    }

    .footer .footer__address,
    .footer .footer__phone{
        font-size: 1.5rem;
        grid-column: 1;
    }

    .footer .footer__phone{
        grid-row: 2;
        justify-self: left;
    }

    .footer .footer__address{
        grid-row: 3;
    }

    .footer .html-logo{
        grid-column: 2;
    }

}